<html>
    <head>
        <title>
            {{ if title }}
                {title} - ajaxbits
            {{else}} 
                ajaxbits 
            {{endif}}    
        </title>
        <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    </head>
    <body>
        <nav>
            <a href = "/">home</a>
            <a href = "/blog">blog</a>
            <a href = "/contact">contact</a>
        </nav>
        <main>{content | unescaped}</main>
        <footer>
            <a href="https://github.com/ajaxbits">my gh</a>
            <p>♥ u</p>
        </footer>
    </body>
</html>
